<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h3>Listado de Cobranzas</h3>
                            <div class="ibox-tools">
                                <a class="collapse-link" href="">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group row ">
                                <div class="col-sm-12 col-sm-offset-2 d-flex flex-row justify-content-center align-items-center">
                                    <button class="btn btn-success dim" appPermisos [nombreMenu]="NombreMenu" nombrePermiso="escritura" (click)="RedireccionarNuevaCobranza()" type="button" title="Nueva Cobranza"><i class="fa fa-file"></i></button>
                                    <button class="btn btn-primary dim" appPermisos [nombreMenu]="NombreMenu" nombrePermiso="lectura" (click)="RedireccionarEditarCobranza()" type="button" title="Editar Cobranza"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-danger dim" appPermisos [nombreMenu]="NombreMenu" nombrePermiso="eliminar" type="button" (click)="EliminarCobranza()" title="Eliminar Cobranza"><i class="fa fa-trash"></i></button>
                                    <button class="btn btn-info dim" type="button" (click)="MostrarBusquedaCobranzas = !MostrarBusquedaCobranzas" title="Buscar Cobranza"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-default dim" appPermisos [nombreMenu]="NombreMenu" nombrePermiso="imprimir" type="button" title="Imprimir" (click)="ImprimirCobranza()"><i class="fa fa-print"></i></button>
                                    <button class="btn btn-default dim" appPermisos [nombreMenu]="NombreMenu" nombrePermiso="imprimir" type="button" title="Imprimir For.2" (click)="ImprimirCobranzaFormato2()"><i class="fa fa-print"></i></button>
                                    <!-- <button class="btn btn-warning dim" type="button" title="Historial" (click)="AbrirModalHistorial(contentHistorial, $event)"><i class="fa fa-folder-open-o"></i></button> -->

                                </div>
                            </div>
                            <div class="form-group row" *ngIf="MostrarBusquedaCobranzas">
                                <div class="col-md-4">
                                    <div class="form-group row col-md-12">
                                        <div class="form-group row col-md-5">
                                            <input type="checkbox" [(ngModel)]="EsSucursal" (ngModelChange)="CambiarSucursalControles()">
                                            <label> Sucursal</label>
                                        </div>
                                        <select class="form-control form-control-sm col-md-7"
                                        [(ngModel)]="oSucursal.CodigoSucursal" name="CodigoSucursal"
                                        [disabled]="!EsSucursal"
                                        #CodigoSucursal>
                                            <option *ngFor="let item of lstSucursal" [ngValue]="item.CodigoSucursal">{{item.Descsucursal}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control form-control-sm" [value]="tipoBusquedaCobranzas" (change)="tipoBusquedaCobranzas = $event.target.value">
                                        <option value="Documento">Por documento</option>
                                        <option value="FechaEmision">Por fecha emisión</option>
                                        <option value="DescBanco">Por banco</option>
                                        <option value="DescCajero">Por cajero</option>
                                        <option value="FecRegistro">Por fecha registro</option>
                                        <option value="TotalPagar">Por total</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" #txtBusquedaCobranzas placeholder="Ingrese un valor"
                                        (keyup.enter)="BuscarCobranzas($event)" class="form-control form-control-sm"
                                        autocomplete="off" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <ngx-datatable
                                    class="material"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [columnMode]="'force'"
                                    [scrollbarH]="true"
                                    [rowHeight]="'35'"
                                    [externalPaging]="true"
                                    [externalSorting]="true"
                                    [count]="page.count"
                                    [offset]="page.offset"
                                    [limit]="page.limit"
                                    [sortType]="'single'"
                                    (activate)="SelecionarDetalle($event)"
                                    (sort)="onSort($event)"
                                    (page)="setPage($event)"
                                    [rows]="lstCobranzas"
                                    [messages]="{
                                        emptyMessage: 'No hay registros',
                                        totalMessage: 'Total',
                                        selectedMessage: 'Seleccionado'
                                        }">
                                        <ngx-datatable-column [width]="30"
                                        [sortable]="false"
                                        [canAutoResize]="false"
                                        [draggable]="false"
                                        [resizeable]="false">
                                            <ng-template  prop="Documento" let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                                <input type="radio" [value]="row.Documento" [(ngModel)]="radioData"   name="rbCobranza" (change)="ListarDetalle(row)">
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Documento" prop="Documento" [sortable]="true" [resizeable]="true" [width]="170"></ngx-datatable-column>
                                        <ngx-datatable-column name="Banco" prop="DescBanco" [sortable]="true" [resizeable]="true" [width]="170"></ngx-datatable-column>
                                        <ngx-datatable-column name="Cajero" prop="DescCajero" [sortable]="true" [resizeable]="true" [width]="170"></ngx-datatable-column>
                                        <ngx-datatable-column name="Fecha Emisión" prop="FechaEmision"  [resizeable]="true" [width]="140">
                                            <ng-template  prop="FechaEmision" let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                                <label> {{value | date:'dd/MM/yyyy'}}</label>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="T.C." prop="ValorTC" [sortable]="true" [resizeable]="true" [width]="100"></ngx-datatable-column>
                                        <ngx-datatable-column name="Total" prop="TotalPagar"  [resizeable]="true" [width]="100">
                                            <ng-template  prop="TotalPagar" let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                                <label class="float-right"> {{ value.toFixed(2) }}</label>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Comentario" prop="Glosa" [sortable]="true" [resizeable]="true" [width]="300"></ngx-datatable-column>
                                        <ngx-datatable-column name="Referencia" prop="OperacionConstancia" [sortable]="true" [resizeable]="true" [width]="300"></ngx-datatable-column>
                                    </ngx-datatable>
                                    </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <ngx-datatable
                                    class="material"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [count]="true"
                                    [columnMode]="'fixed'"
                                    [scrollbarH]="true"
                                    [rowHeight]="'35'"
                                    [reorderable]="true"
                                    [limit]="20"
                                    [rows]="lstCobranzasDtl"
                                    [messages]="{
                                        emptyMessage: 'No hay registros',
                                        totalMessage: 'Total',
                                        selectedMessage: 'Seleccionado'
                                        }">
                                        <ngx-datatable-column name="Item" prop="NumItem" [sortable]="true" [resizeable]="true" [width]="100"></ngx-datatable-column>
                                        <ngx-datatable-column name="Tipo Pago" prop="tipoDocumento" [sortable]="true" [resizeable]="true" [width]="130"></ngx-datatable-column>
                                        <ngx-datatable-column name="Cliente" prop="nomCliente" [sortable]="true" [resizeable]="true" [width]="300"></ngx-datatable-column>
                                        <ngx-datatable-column name="Documento" prop="NumeroDoc" [sortable]="true" [resizeable]="true" [width]="130"></ngx-datatable-column>
                                        <ngx-datatable-column name="Moneda" prop="DescMoneda" [sortable]="true" [resizeable]="true" [width]="130"></ngx-datatable-column>
                                        <ngx-datatable-column name="Total" prop="TotalDet"  [resizeable]="true" [width]="100">
                                            <ng-template  prop="TotalDet" let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                                                <label class="float-right"> {{ value }}</label>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Comentario" prop="comentarioDet"  [resizeable]="true" [width]="300"></ngx-datatable-column>
                                        <ngx-datatable-column name="CodCuenta" prop="Codctacontable"  [resizeable]="true" [width]="100"></ngx-datatable-column>
                                        <ngx-datatable-column name="Desc-Cuenta" prop="DescPlanContable"  [resizeable]="true" [width]="300"></ngx-datatable-column>
                                    </ngx-datatable>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #contentHistorial let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Historial</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <div class="col-md-12">
                    <ngx-datatable
                    class="material"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [count]="true"
                    [columnMode]="'fixed'"
                    [scrollbarH]="true"
                    [rowHeight]="'auto'"
                    [reorderable]="true"
                    [limit]="10"
                    [rows]="lstHistorial"
                    [messages]="{
                        emptyMessage: 'No hay registros',
                        totalMessage: 'Total',
                        selectedMessage: 'Seleccionado'
                        }">
                        <ngx-datatable-column name="Módulo" prop="Modulo" [resizeable]="true" [width]="354"></ngx-datatable-column>
                        <ngx-datatable-column name="Documento" prop="Documento"  [resizeable]="true" [width]="354"></ngx-datatable-column>
                    </ngx-datatable>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
    </ng-template>

<swal
  #deleteSwal
  title="Estás seguro?"
  text="Se eliminará el registro seleccionado"
  type="warning"
  [showCancelButton]="true"
  [focusCancel]="true"
  confirmButtonText="Si"
  cancelButtonText="No"
  >
</swal>

<swal
  #ErrorForm
  title="Error"
  text="Ha ocurrido un error inesperado, contacte con su administrador."
  type="error"
  confirmButtonText="OK"
  >
</swal>

<swal
  #ErrorFormHtml
  title="Error de validación"
  html=""
  type="error"
  confirmButtonText="OK"
  >
</swal>
